<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
	</configSections>
	<appSettings>
		<!-- <add key="GrpcServerUrl" value="http://localhost:8081" /> -->
		<add key="GrpcServerUrl" value="https://dmzappcore.azurewebsites.net" />
	</appSettings>
	<connectionStrings>
	</connectionStrings>	
</configuration>